.logo-main-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  align-items: flex-end;
}
.logo-main-menu-container .logo a,
.logo-main-menu-container .logo img {
  display: block;
}
.logo-main-menu-container .menu-toggle {
  background: #f4f4f4;
  padding: 0.5em;
  cursor: pointer;
}
.logo-main-menu-container .menu-toggle span {
  display: block;
  width: 1.5em;
  height: 2px;
  margin-top: 6px;
  background: #000;
}
.logo-main-menu-container .menu-toggle span:last-child {
  margin-bottom: 6px;
}
.logo-main-menu-container .menu-toggle {
  display: none;
}
.logo-main-menu-container #primary-menu {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-bottom: 0;
  padding-inline-start: 0px;
}
.logo-main-menu-container #primary-menu .menu-item {
  list-style: none;
}
.logo-main-menu-container #primary-menu .menu-item .menu-link {
  font-size: 1.4rem;
  color: #000;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 1.5em 0;
  text-align: center;
  display: block;
}
.logo-main-menu-container #primary-menu .menu-item.alert-menu-item {
  color: red;
}
.logo-main-menu-container #primary-menu .menu-item.alert-menu-item .menu-link {
  color: red;
}
.logo-main-menu-container #primary-menu .menu-item .sub-menu-container {
  background: white;
  display: none;
}
.logo-main-menu-container #primary-menu .menu-item .sub-menu {
  padding: 0;
}
.logo-main-menu-container #primary-menu .menu-item.menu-item-has-children > .menu-link i {
  padding-left: 1em;
}
@media (min-width: 1099px) {
  .logo-main-menu-container #primary-menu .menu-item.alert-menu-item .menu-link {
    max-width: 100px;
    font-size: 1.1rem;
  }
  .logo-main-menu-container #primary-menu .menu-item.main-menu-item {
    margin: auto;
    margin-right: 2em;
  }
  .logo-main-menu-container #primary-menu .menu-item.main-menu-item:last-child {
    margin-right: 0;
  }
  .logo-main-menu-container #primary-menu .menu-item:hover .sub-menu-container {
    display: block;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu-container {
    padding: 2em;
    padding-top: 0;
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    width: 1270px;
    text-align: center;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu {
    display: flex;
    text-align: center;
    gap: 1em;
    flex-wrap: wrap;
    margin: auto;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu > * {
    flex: 1 0 23%;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu .sub-menu-item .menu-link img {
    display: block;
    margin: 0 auto 1em;
  }
  .logo-main-menu-container #primary-menu .menu-item.one-fifth > div.sub-menu-container > .sub-menu > * {
    flex: 1 0 19%;
  }
  .logo-main-menu-container #primary-menu .menu-item.one-sixth > div.sub-menu-container > .sub-menu > * {
    flex: 1 0 15%;
  }
  .logo-main-menu-container #primary-menu .menu-item.menu-item-has-children {
    white-space: nowrap;
  }
  .logo-main-menu-container #primary-menu .menu-item.menu-item-has-children .sub-menu-container {
    white-space: unset;
  }
}
@media (min-width: 1160px) and (max-width: 1270px) {
  .logo-main-menu-container #primary-menu .menu-item .sub-menu {
    width: 1160px;
  }
}
@media (min-width: 1099px) and (max-width: 1160px) {
  .logo-main-menu-container #primary-menu .menu-item .sub-menu {
    width: 1098px;
  }
}
@media (max-width: 1098px) {
  .logo-main-menu-container #primary-menu {
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding: 2em;
  }
  .logo-main-menu-container #primary-menu .menu-item {
    margin-bottom: 1em;
  }
  .logo-main-menu-container #primary-menu .menu-item:last-child {
    margin-bottom: 0;
  }
  .logo-main-menu-container #primary-menu .menu-item .menu-link {
    max-width: 410px;
    margin: auto;
    padding: 2em 1em;
    background: #f1f1f1;
    position: relative;
  }
  .logo-main-menu-container #primary-menu .menu-item.menu-item-has-children .menu-link i {
    position: absolute;
    right: 0;
    padding: 0.75em 0.75em 0.75em 1.5em;
    font-size: 2.5rem;
    transform: translateY(-50%);
    top: 50%;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu-container {
    max-height: 0;
    display: block;
    overflow: hidden;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu-container.active {
    max-height: 3000px;
    transition: max-height 1.5s ease-out;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu-container .sub-menu-title,
  .logo-main-menu-container #primary-menu .menu-item .sub-menu-container .sub-menu-description {
    display: none;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu img {
    display: none;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu .sub-menu-item {
    margin-bottom: 1em;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu .sub-menu-item:first-child {
    margin-top: 1em;
  }
  .logo-main-menu-container #primary-menu .menu-item .sub-menu .sub-menu-item:last-child {
    margin-bottom: 0;
  }
  .logo-main-menu-container #primary-menu .blue-menu-item > a {
    background: #04cbf4 !important;
  }
  .logo-main-menu-container #primary-menu .yellow-menu-item > a {
    background: #fcd935 !important;
  }
  .logo-main-menu-container #primary-menu .green-menu-item > a {
    background: #8ad640 !important;
  }
  .logo-main-menu-container #primary-menu .turquoise-menu-item > a {
    background: #40c3c3 !important;
  }
  .logo-main-menu-container #primary-menu .orange-menu-item > a {
    background: #ff8026 !important;
  }
  .logo-main-menu-container #primary-menu .pink-menu-item > a {
    background: #fc6898 !important;
  }
  .logo-main-menu-container #primary-menu .purple-menu-item > a {
    background: #e49bec !important;
  }
  .logo-main-menu-container .menu-toggle {
    display: block;
  }
  .logo-main-menu-container .main-menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 1000;
    background: white;
    width: 100vw;
  }
  .logo-main-menu-container .main-menu.active {
    max-height: 3000px;
    transition: max-height 1.5s ease-out;
  }
}
@media (min-width: 1099px) {
  .new-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #fff;
    width: 100%;
  }
  .main-content {
    margin-top: 117px;
  }
}
.new-header a {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
