// stack horizontally the logo and main menu in the header.
.logo-main-menu-container{	
	display:flex;
	flex-direction: row;	
	justify-content: space-between;
	align-items: center;
	gap:1em;
	padding:1em;
	align-items:flex-end;

	//make logo and link display block
	.logo{
		a, img{
			display: block;			
		}
	}

	//style menu-toggle button
	.menu-toggle{
		background: #f4f4f4;
		padding:.5em;
		cursor:pointer;
		span{
			display: block;
		    width: 1.5em;
		    height: 2px;
		    margin-top: 6px;
		    background: #000;
		}
		span:last-child{
			margin-bottom:6px;
		}
	}

	//default menu-toggle to hidden
	.menu-toggle{
		display:none;
	}


	//deatult the menu to stack horizontally
	#primary-menu{
		display: flex;
		flex-direction: row;
		gap:0;
		margin-bottom:0;
	    padding-inline-start: 0px;	    

	    //default menu items to have no list style
		.menu-item{
			list-style: none;

			//default menu-links to font
			.menu-link{
				font-size:1.4rem;
				color:#000;
				font-weight:bold;
				line-height:1;
				text-transform: uppercase;				
				display: block;
    			padding: 1.5em 0;
    			text-align: center;
    			display: block;
			}
			
			//default alert menu item style
			&.alert-menu-item{
				color: red;					
				.menu-link{
		    		color:red;
		    	}
			}

			//default sub-menu container background color and hide by default
			.sub-menu-container{
				background:white;
				display:none;
			}

			//default sub-menu images to hidden
			.sub-menu{
				//remove default initial padding from ul
				padding: 0;				
			}

			//add spacing to caret icon
			&.menu-item-has-children{				
				> .menu-link i{				
					padding-left:1em;				
				}
			}

			//specify desktop styles
			@media(min-width:1099px){

				//desktop style for alert menu item
				&.alert-menu-item{			
					.menu-link{
			    		max-width:100px;
			    		font-size:1.1rem;
			    	}
				}

				//vertically center and space main menu items
				&.main-menu-item{
			    	margin:auto;
			    	margin-right:2em;
			    	&:last-child{
			    		margin-right:0;
			    	}
			    }

			    //show sub menu items on hover
				&:hover .sub-menu-container{
					display:block;
				}		

				//center the sub-menu container and set default static width
				.sub-menu-container{
					padding:2em;
					padding-top:0;
					position: absolute;
					z-index:99;
					left: 50%;
	    			transform: translateX(-50%);
	    			width:1270px;	    			
	    			text-align:center;
				}	

				//default sub-menu items to four per row
				.sub-menu{    		
					display: flex;	
	    			text-align:center;
	    			gap: 1em;	    			
	    			flex-wrap: wrap;	
	    			margin:auto;	

	    			> * {
	    				flex: 1 0 24%;
	    			}

	    			.sub-menu-item .menu-link{
	    				//add spacing to images
	    				img{
	    					display: block;
	    					margin: 0 auto 1em;    					
	    				}
	    			}
	    			
				}

				//override menu items to 5 per row
				&.one-fifth > div.sub-menu-container > .sub-menu > * {
    				flex: 1 0 19%;
    			}
    			//override menu items to 6 per row
    			&.one-sixth > div.sub-menu-container > .sub-menu > * {
    				flex: 1 0 15%;
    			}

    			//prevent wrapping of caret icon
    			&.menu-item-has-children{
					white-space: nowrap;
					.sub-menu-container{
						white-space: unset;
					}
				}

			}

			//set various sub-menu widths to match existing styles - added via menu item class options
			@media (min-width: 1160px) and (max-width: 1270px){
				.sub-menu{
					width: 1160px;
				}				
			}
			@media (min-width: 1099px) and (max-width: 1160px){
				.sub-menu{
					width: 1098px;
				}	
			}
		}
	}

	


	//mobile specific styles
	@media(max-width:1098px){

		//override menu to stack vertically
		#primary-menu{
			flex-direction: column;
    		gap: 0;
    		text-align: center;
    		padding:2em;

    		.menu-item {
    			
    			//set margin for menu items
    			margin-bottom:1em;
    			&:last-child{
    				margin-bottom:0;
    			}

    			//override menu link styles for mobile
    			.menu-link{    				
    				max-width: 410px;
    				margin: auto;
    				padding: 2em 1em;
    				background: #f1f1f1;
    				position:relative;    				
    			}

    			//ovverride caret icon to right align
    			&.menu-item-has-children .menu-link i{
    				position: absolute;
					right: 0;
					padding:0.75em 0.75em 0.75em 1.5em;
					font-size: 2.5rem;
					transform: translateY(-50%);
					top: 50%;    				
    			}

				//set up animation for sub-menu container toggle - active class is added via javascript.	
				.sub-menu-container{
					max-height: 0;
					display: block;
					overflow: hidden;

					&.active{
				    	max-height: 3000px;
				    	transition: max-height 1.5s ease-out;
				    }

				    //hide text
				    .sub-menu-title, .sub-menu-description{
	    				display:none;
	    			}
				}
				
	    		.sub-menu{				    
				    
				    //hide sub-menu images
				    img{
						display:none;
					}

					//override spacing on sub-menu-items
				    .sub-menu-item{
				    	margin-bottom:1em;
				    	&:first-child{
				    		margin-top:1em;
				    	}
				    	&:last-child{
				    		margin-bottom:0;
				    	}
				    }
	    		}
	    	}
    		
    		//menu item background colors - added via menu item class options
			.blue-menu-item > a{
				background:#04cbf4 !important;
			}
			.yellow-menu-item > a{
			  background: #fcd935 !important;
			}
			.green-menu-item > a{
			  background: #8ad640 !important;
			}
			.turquoise-menu-item > a{
			  background: #40c3c3 !important;
			}
			.orange-menu-item > a{
			  background: #ff8026 !important;
			}
			.pink-menu-item > a{
			  background: #fc6898 !important;
			}
			.purple-menu-item > a{
			  background: #e49bec !important;
			}
		}

		//show menu toggle
		.menu-toggle{
			display:block;			
		}	

		//set up animation for main menu on mobile - active class added via javascript
		.main-menu{			
			max-height:0;
			overflow:hidden;
			position: absolute;
		    bottom: 0;
		    left: 0;
		    transform: translateY(100%);
		    z-index: 1000;
		    background: white;
		    width: 100vw;		    
		    
		    &.active{
		    	max-height: 3000px;
		    	transition: max-height 1.5s ease-out;
		    }
		}

	}


}

// set up sticky menu on desktop only
@media(min-width:1099px){
	
}